.item-container{
    display: flex;
    justify-content: center;
    width: 80vw;
    background-color: var(--primary-color);

}

.featured-item{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: transparent;
}

.featured-item img{
    height: 150px;
    align-self: center;
}

.featured-item .text-section{
    width: 45%;
    font-size: 24px;
    padding-right: 8px;;
    background-color: transparent;
    font-family: 'Cherry Bomb One'
}

@media(min-width: 850px){
    .featured-item{
        padding-left: 20%;
    }

    .featured-item .text-section{
        width: 45%;
        font-size: 48px;
        background-color: transparent;
        font-family: 'Cherry Bomb One'
    }

    .featured-item img{
        height: 350px;
    }
}

@media(min-width: 1300px){
    .featured-item .text-section{
        font-size: 64px;
    }
}