<footer>
    <div class="author-socials">
        <div class="icons">
            <img class="icon" src="/assets/png/facebook-logo.png" />
            <img class="icon" src="/assets/png/instagram-logo.png" />
            <img class="icon" src="/assets/png/youtube-logo.png" />
        </div>
        <span>Bruna Cristina Nunes - 2024</span>
    </div>
    <div class="line"></div>
    <div class="author-socials">
        <div class="icons">
            <a href="https://www.linkedin.com/in/vitor-costa-carvalho/"><img class="icon" src="/assets/png/linkedin-logo.png" /></a>
            <a href="https://github.com/VitorCCarvalho"><img class="icon" src="/assets/png/github-logo.png" /></a>
        </div>
        <span>Vitor Costa Carvalho - 2024</span>
    </div>
</footer>
