<app-header></app-header>
<div class="body-cart">
    <div class="cart-section">
        <span class="title-cart"><b>Carrinho de Compras</b></span>
        <div class="shopping-wrapper">
            <div class="shopping-list" *ngFor="let cartItem of product_cart">
                <app-shopping-item [cartItem]="cartItem"></app-shopping-item>
            </div>
        </div>
    </div>

    <div class="checkout-section">
        <span class="title-checkout"><b>Total do Carrinho</b></span>
        <div class="checkout-wrapper">
            <div class="subtotal-sum">
                <span>Subtotal:</span> 
                <span>R${{subTotal}}</span>
            </div>
            <div class="shipping">
                <span>Frete:</span>
                <span>R${{shipping}}</span> 
            </div>
        </div>
       
        <div class="total-sum">
            <span><b>Total:</b></span> 
            <span><b>R${{sumTotal}}</b></span>
        </div>

        <button class="btn-checkout"><b>Finalizar Compra</b></button>
        
    </div>
</div>
