<header>
    <img src="/assets/png/logo.png">
    <div class="search-bar">
        Pesquisar
    </div>
    <div class="link-btns">
        <span class="material-symbols-outlined btn" routerLink="/cart">
            shopping_cart
        </span>
        <span class="material-symbols-outlined btn" routerLink="/account">
            account_circle
        </span>
    </div>
</header>


<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />