<app-header></app-header>
<div class="body-item">
    <div class="img-section">
        <div class="img-list">
            <img class="small-img" src="{{product.imgSrc}}">
            <img class="small-img" src="/assets/png/blank.png">
            <img class="small-img" src="/assets/png/blank.png">
            <img class="small-img" src="/assets/png/blank.png">
            <img class="small-img" src="/assets/png/blank.png">
        </div>

        <img class="current-img" src="{{product.imgSrc}}">
    </div>
    <div class="desc-section">
        <p class="desc-title"><b>Descrição</b></p>
        <div class="desc-text">
            {{product.desc}}
        </div>
    </div>
    <div class="actions-section">
        <span><b>{{product.name}}</b></span>
        @if(product.sale){
            <span>Compre agora: <del><b>R${{product.price}}</b></del>  <b> R${{product.salePrice}}</b></span>
        } @else {
            <span>Compre agora: <b>R${{product.price}}</b></span>
        }
        

        <div class="info-section">
            <span>Entrega: <b>Todo Brasil</b></span>
        </div>
        <div class="btn-section">
            <button class="btn-buynow" (click)="buyNow()"><b>Comprar Agora</b></button>
            <button class="btn-addcart" (click)="addToCart()"><b>Adicionar ao Carrinho</b></button>
        </div>
        
    </div>
</div>
