<div class="list-container">
    <div class="title-text">
        <span>
            @if(sale){
                Promoções
            } @else {
                Vistos Recentemente
            }
        </span>
        <div class="link-all-items" (click)="navigateToAllItems()">
            Ver todos
        </div>
    </div>
    <div class="list-area">
        <div class="product-list" *ngFor="let product of products | slice:0:8">
            @if(sale){
                <app-list-item [product]="product"></app-list-item>
            } @else {
                <app-list-item [product]="product"></app-list-item>
            }
        </div>
    </div>
</div>


