.page-login{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-login .img-logo{
    width: 500px;
    padding-top: 85px;
    padding-bottom: 100px;
}

.page-login .form-group{
    padding-bottom: 12px;
}

.page-login .form-group{
    padding-bottom: 12px;
}


.page-login .form-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    width: 375px;
}

.page-login .form-group .wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 48px;
    font-size: 16px;

}

.pw-cf{
    width: 120px !important;
}

.page-login .form .form-group .wrapper .form-label{
    background-color: white;
    width: 45px;
}



.page-login .form-group .wrapper .form-input{
    background-color: white;
    height: 48px;
    border: none;
    padding-top: 12px;
    border-radius: 4px;
}

.page-login .form-group .btn-primary{
    background-color: var(--primary-color);
    font-size: 18px;
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.page-login .form .link-signup{
    cursor: pointer;
}

@media(min-width: 1024px){ 
    .page-login .img-logo{
        width: 700px;
    }   

    .page-login .form-group{
        width: 515px;
    }

    .page-login .wrapper .form-label .pw-cf{
        width: 120px;
    }
}