<div class="body-grid-item" (click)="navigateToItem()" [@inOutAnimation]>
    <div class="img-wrapper">
        <img src="{{product.imgSrc}}"/>
    </div>
    <div class="product-title">
        {{product.name}}
    </div>
    <div class="info">
        <div class="price">
            @if(product.sale && product.salePrice != null){
                <div class="full-price"><del><b>R${{product.price}}</b></del></div> 
                <div class="sale-price"><b> R${{product.salePrice}}</b></div>
            }@else {
                <div class="normal-price"><b>R${{product.price}}</b></div>
            }
        </div>
    </div>
</div>
