.body-grid-item{
    display: flex;
    flex-direction: column;
    padding:8px;
}

.body-grid-item .img-wrapper{
    padding-bottom: 8px;;
}

.body-grid-item .img-wrapper img{
    width: 300px;
    height: 300px;
    cursor: pointer;
}

.body-grid-item .product-title{
    font-size: 24px;
    cursor: pointer;
}

.body-grid-item .info{
    cursor: pointer;
}