.container-product{
    display: flex;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;
}

.container-product img{
    width: 150px;
}

.container-product .text-section{
    font-size: 12px;
}


@media (min-width: 1450px){
    .container-product img{
        width: 200px;
    }
    
    .container-product .text-section{
        font-size: 16px;
    }
}