.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 700,
  'GRAD' 0,
  'opsz' 40
}

.featured-section{
    position: fixed;
    width: 100vw;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    
}

.featured-section .arrow{
    background-color: transparent;
    height:max-content;
    padding: 12px;
    padding-top: 15%;
    cursor: pointer;
    align-self: center;
    z-index: 1;
}

.featured-section .featured-list{
    position: fixed;
}

.featured-section .featured-list .featured-item{
    position: fixed;
}
