<div class="featured-section">
    <span class="material-symbols-outlined arrow" (click)="previousItem()">
        arrow_back_ios
    </span>
    <div class="featured-list" [@animSlider]="counter" *ngFor="let item of featuredItems">
        <app-featured-item *ngIf="featuredItems[counter].text === item.text" class="featured-item" [featuredItem]="item"></app-featured-item>
    </div>
    
    <span class="material-symbols-outlined arrow" (click)="nextItem()">
        arrow_forward_ios
    </span>
</div>

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
