.shopping-item{
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.shopping-item img{
    height: 180px;
}

.shopping-item .left-box{
    display: flex;
    flex-direction: row;
    gap: 16px;

}

.shopping-item .left-box .left-text{
    font-size: 18px;
}

.shopping-item .right-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    
    font-size: 18px;
}

.shopping-item .right-box .delete{
    display: flex;
    align-items: center;
    gap: 4px;
}