<div class="shopping-item">
    <div class="left-box">
        <img src="{{cartItem.product.imgSrc}}" />
        <div class="left-text">
            <b>{{cartItem.product.name}}</b>
            <div class="qty-box">
                <button class="btn-qty" (click)="removeProduct()">-</button>
                <p class="qty-text">{{cartItem.qty}}</p>
                <button class="btn-qty" (click)="addProduct()">+</button>
            </div>
        </div>
    </div>
    <div class="right-box">
        <b>R${{cartItem.product.price * cartItem.qty}}</b>
        <div class="delete" (click)="deleteProduct()">
            <span class="material-symbols-outlined">
                delete
            </span>
            Deletar
        </div>
        
    </div>
</div>


<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />