:root{
    --bg-color: #DFE5EA;
    --primary-color: #F0CBCC;
    --secondary-color: #81818F;
}

*{
    font-family: 'Sansita';
    background-color: var(--bg-color);
}

@font-face {
    font-family: 'Cherry Bomb One';
    src: url('assets/fonts/Cherry Bomb/CherryBombOne-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Sansita';
    src: url('assets/fonts/Sansita/Sansita-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Sansita';
    src: url('assets/fonts/Sansita/Sansita-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Sansita';
    src: url('assets/fonts/Sansita/Sansita-Black.ttf');
    font-weight: 900;
}
