:root{
    --bg-color: #DFE5EA;
    --bg-color-dark: #c1c7cb;
    --bg-secondary: #c9c9c9;
    --primary-color: #F0CBCC;
    --secondary-color: #81818F;
    --primary-dark: #bd8c8e;
}

*{
    font-family: 'Sansita';
}

body{
  background-color: var(--bg-color);
}

.btn-primary{
  background-color: var(--primary-color);
  
}

.btn-primary:hover{
  background-color: var(--primary-dark);
  transition: 0.2s linear
}

.btn-secondary{
  border: 2px solid var(--primary-color);
  background-color: var(--bg-color);
  transition: 0.2s linear;
}

.btn-secondary:hover{
  background-color: var(--bg-color-dark);
  transition: 0.2s linear;
}

@font-face {
    font-family: 'Cherry Bomb One';
    src: url('assets/fonts/Cherry Bomb/CherryBombOne-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Sansita';
    src: url('assets/fonts/Sansita/Sansita-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Sansita';
    src: url('assets/fonts/Sansita/Sansita-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'Sansita';
    src: url('assets/fonts/Sansita/Sansita-Black.ttf');
    font-weight: 900;
}

@keyframes snackbarIn {
    from {
      transform: translateX(-50%) translateY(-100px);
      opacity: 0;
    }
    to {
      transform: translateX(-50%) translateY(0px);
      opacity: 1;
    }
  }
  
  @keyframes snackbarOut {
    from {
        transform: translateX(-50%) translateY(0px);
        opacity: 1;
      }
    to {
      transform: translateX(-50%) translateY(-100px);
      opacity: 0;
    }
  }